/* MyPage.module.css */

/* MyPage Wrapper */
.myPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  /* MyPage Container */
  .myPageContainer {
    width: 300px;
    padding: 30px 20px;
    border: 2px solid #1abc9c;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  /* Profile Info */
  .profileInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid 1px #1abc9c;
  }
  
  .userInfo p {
    text-align: left;
    margin: 10px 0;
    padding: 0;
  }
  
  .userInfo strong {
    color: #1abc9c;
  }
  /* Button Group */
  .buttonGroup {
    margin-top: 20px;
    text-align: center;
  }
  
  .logoutButton, .updateButton {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .updateButton {
    margin-top: 8px;
    background-color: #3498db;
  }
  