.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

/* Form Container Styles */
.loginContainer {
  width: 300px;
  padding: 20px;
  border: 2px solid #1abc9c; /* 테두리 추가 및 색상 지정 */
  border-radius: 5px;
  background-color: #f8f9fa; /* 배경색을 회색으로 설정 */
}

/* Form Styles */
.loginForm {
  text-align: center;
}

.loginForm h2 {
  margin-bottom: 20px;
  color: #1abc9c; /* 폼 제목 색상을 메인 색상으로 설정 */
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #1abc9c; 
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #1abc9c; /* 입력 필드 테두리 색상을 메인 색상으로 설정 */
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #15a589; /* 버튼에 호버시 색상 변경 */
}

p {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #6c757d; /* 회원가입하기 문구 색상 변경 */
}

p a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #1abc9c;; /* 링크 색상 변경 */
}