body {
  background-color: var(--mainBackground);
  color: var(--mainHeader);
}

.gradiant-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-yellow-400 to-gray-200 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation:  typing-text steps(40) 4s infinite , blink linear 1s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0px;
  animation-fill-mode: forwards; 
}
@keyframes typing-text {
  from {
    width: 0;
  }
  to {
    width: 530px;
  }
}

@keyframes  blink {
  from {
    border-color: transparent;
  }
}

.custom-btn {
  @apply bg-yellow-500 py-4 px-5 rounded-3xl font-medium shadow-md transition-transform duration-300;
  @apply transform-gpu hover:scale-105;
}

.custom-btn:hover {
  @apply shadow-lg font-bold transition-transform duration-300;
}