.dark {
  background-color: var(--mainBackground);
  color: var(--mainHeader);
  padding: 0px 10%;
}

.white{
  background-color: var(--mainHeader);
  color: black;
  padding: 0px 10%;
}


.gradiant-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-r from-gray-100 to-gray-600 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation:  typing-text steps(40) 3s , blink linear 1s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0px;
  animation-fill-mode: forwards; 
}
@keyframes typing-text {
  from {
    width: 0;
  }
  to {
    width: 530px;
  }
}

@keyframes  blink {
  from {
    border-color: transparent;
  }
}
